* body {
    background-color: lightslategrey;
    color:#ffffff;
    box-sizing: border-box;   
    border: 2px double dodgerblue; 
    padding:10px 10px;
}
@media (min-width:370px){
    h1 {
        color: dodgerblue;
        font-size:;
    }
}

@media (min-width:720px){
    h1 {
        color:white;
        font-size: 50px;
    }
}
@media (min-width:720px){
    .magenta {
        background-color: dodgerblue;
        font-size: larger;
    }
}

.blue {
    background-color: dodgerblue;
    color: #ffffff;
    padding: 10px 10px;
}
.magenta {
    background-color: magenta;
    color:#ffffff;
}
.section1 {
    background-image: linear-gradient(
        hsl(226, 39% 32%),
        hsl(226, 39% 10%));
}

.main-sect-1 {
    text-align: center;
}

.ftr-1 {
    
    text-align: center;
    
    color:white;
}

.paragraphs {
    text-align: center;
    color:black;
}

#section1 {
    background: linear-gradient(#e66465 90%, #9198e5 90%) ;
}

.ftr-1 {
    background: linear-gradient(lightslategrey, lightblue);
}